@font-face{
  font-family:"flower";
  src:url('./fonts/나눔손글씨 꽃내음.ttf');
  font-weight:500;
  font-style:normal;
}
@font-face{
  font-family:"google-custom";
  src:url('./fonts/Lexend_Giga/static/LexendGiga-Regular.ttf');
  font-weight:500;
  font-style:normal;
}
@font-face{
  font-family:"digit";
  src:url('./fonts/LAB디지털.ttf');
  font-weight:300;
  font-style:normal;
}


*{
  box-sizing: border-box;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: black;

}

body::-webkit-scrollbar {
  display: none;
  
}
:root{
  font-size : 16px;
}
body {
  margin: 0;
  padding: 0px;
  height: 100vh;
  width: 1280px;
  margin: 0 auto;
  font-family:"google-custom";
  font-weight : 400;
}

.App {
  text-align: center;
  display:flex;
  justify-content: start;
  align-items: start;
  gap : 10px;
  height : 100vh;
  overflow : hidden;
  /* border : 1px solid;  */
}


/* LEFT */
.App>.photo-frame{
  width : 40%;
  height : 100vh;
}
.App>.photo-frame{

}


.photo-frame {
  width: 100%;
  background: url('/public/images/default-background.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

.poto-frame .swiper {
  width: 100%;
  height: 100%;
}

.photo-frame .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;

}

.photo-frame .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;

}

.photo-frame img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

/* SWIPER 가 없는 경우 */
.photo-frame>.items {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width : 100%;
  height : 100%;
}

.photo-frame>.items>.item {
  position: relative;
  width : 100%;
  height : 100%;
}


.photo-frame>.items>.item img{
  width : 100%;
  height : 100%;
  object-fit: contain;

}

.photo-frame>.items>.item video {
  width: 100%;
 
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: initial;
  mix-blend-mode: screen;
}



.img-block {

  margin-bottom: 15px;
  position : relative;
}
.img-block video{
  height : 300px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: initial;

  mix-blend-mode: screen;
}

.img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



 

/* RIGHT */
.postcard-container {
  width : 60%;
  
  overflow: hidden;
  position: relative;
  height : 100%;
  position:relative;
  left:0;
  top:5px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

.postcard-container>.calendar-header{
  /* background-color: rgb(204, 201, 201); */
  width : 100%;
  height : 100%;
  margin-top:0;
}

/*  */
.postcard-container * {
  object-fit: contain;
}


.postcard-container>.controller {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;

  
  display:flex;
  justify-content: right;
  align-items: center;
 
}

.controller button {
  width:50px;
 
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding : 0;
  margin-left:5px;
  outline : none;
  position:relative;
  left:0;
  top:0;
  width : 100%;
  height : 100%;
  padding : 5px;
}
.controller button:hover{
  background-color: rgb(233, 233, 233);
  outline : none;
} 
.controller button:active{
  background-color: rgb(233, 233, 233);
  outline : none;
}
.controller button:focus
{
  background-color: rgb(233, 233, 233);
  outline : none;
}


.controller button span {
  color:#1E2B37;
  margin :0;
  padding : 0;
}



/* 캘린더 헤더 */
.calendar-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin : 10px auto;

  /* background-color: rgb(230, 234, 218); */
  /* border-right:1px solid lightgray; */
  border-bottom : 1px solid #1E2B37;
  
  border-radius: 0px;
  min-height:25%;
  height:100%;
  max-height:25%;

}


.calendar-header::before{
  content : '';
  position:absolute;
  left:0;
  top:0;
  width : 0;
  height : 0;
  border-top:10px solid #1E2B37;
  border-left:10px solid #1E2B37;
  border-right:10px solid transparent;
  border-bottom:10px solid transparent;
}


/* .calendar-header::after{
  content : '';
  position:absolute;
  right:0;
  bottom:0;
  width : 0;
  height : 0;
  border-top:10px solid transparent;
  border-left:10px solid transparent;
  border-right:10px solid lightblue;
  border-bottom:10px solid lightblue;
} */


.calendar-container {
  height : 100vh;
  overflow:auto;
}
.calendar-container::-webkit-scrollbar{
  display:none;
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {

}
.fc-scroller.fc-scroller-liquid-absolute::-webkit-scrollbar {
  display: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* SETTING MODAL */
.modal-schedule {
  width: 100%;
  text-align: left;
}

.modal-schedule>div {
  margin-bottom: 5px;
}
