*{
    box-sizing: border-box;
}
.settingmodal .modal-content{
    width : 350px !important;
    margin : 0px auto;
    height :100%;

    padding : 0;
}
.settingmodal .modal-header{
    background-color:#1E2B37;
    height : 55px;
}
.settingmodal .modal-body{
    font-family: sans-serif;
}

.settingmodal .modal-body .items{
    height : 100%;
}

.settingmodal .modal-body .items .item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    height : 100%;
    font-size : .9rem;
    gap:5px;
    border : 1px solid lightgray;
    margin : 5px;
    
}
.settingmodal .modal-body .items .item>div{
    
    width:100%;
    height : 100%;
}

/* YYYY - MM 선택 */
.settingmodal .modal-body .items .item.choose-yyyymm{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.settingmodal .modal-body .items .item.choose-yyyymm select{
    font-size : .8rem;
    border-radius: 0;
    outline : none;
    border :0;


}

/* 레이아웃 선택 */
.settingmodal .modal-body .items .item.choose-layout{
    height : 100px !important;
  
}
.settingmodal .modal-body .items .item.choose-layout:nth-child(2){
    display:flex;
    justify-content: center;
    align-items: center;
    gap : 2px;
    width : 100%;
    height : 100px !important;
  
    
}
.settingmodal .modal-body .items .item.choose-layout .rowLayout{
    width:100%;
    height :  100px !important;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding : 5px;

}
.settingmodal .modal-body .items .item.choose-layout .title{
    display:flex;
    justify-content: center;
    align-items: center;
    border-right : 1px solid lightgray;
    border-radius: 0;
}
.settingmodal .modal-body .items .item.choose-layout .rowLayout .imageblock{
    width:40%;
    height:100%;
    border:1px solid lightgray;
    background-color: lightgray;
    writing-mode:vertical-rl;
    font-size : .8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border : 1px solid gray;
}
.settingmodal .modal-body .items .item.choose-layout .rowLayout .contentblock{
    width:60%;
    height:100%;
    border:1px solid lightgray;
    writing-mode:vertical-rl;
    font-size : .8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border : 1px solid gray;
}


.settingmodal .modal-body .items .item.choose-layout .colLayout{
    width:100%;
    height :  100px !important;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
    padding : 5px;
    

}
.settingmodal .modal-body .items .item.choose-layout .colLayout .imageblock{
   
    width:100%;
    height:40%;
    border : 1px solid gray;
    background-color: lightgray;
    font-size : .8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.settingmodal .modal-body .items .item.choose-layout .colLayout .contentblock{
    width:100%;
    height:60%;
    border : 1px solid gray;
    font-size : .8rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.settingmodal .modal-body .items .item.choose-layout-radio{
    width : 100%;
    height : 100%;
}
.settingmodal .modal-body .items .item.choose-layout-radio .title{
    height : 30px;
    border-right : 1px solid lightgray;
    
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;

}
.settingmodal .modal-body .items .item.choose-layout-radio .rowLayout{
    padding : 5px;
    width : 100%;
    height : 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-right : 1px solid lightgray;
    border-radius: 0;
}
.settingmodal .modal-body .items .item.choose-layout-radio .colLayout{
    padding : 5px;
    height : 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.settingmodal .modal-body .items .item.choose-layout-radio input{
   
}

/* 이미지 배치 형태 */
.settingmodal .modal-body .items .item.choose-image-array
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows :1fr 1fr;
}
.settingmodal .modal-body .items .item.choose-image-array .title{

    border : 1px solid lightgray;
    height : 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    
}
.settingmodal .modal-body .items .item.choose-image-array .array-1{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    border : 1px solid lightgray;
    padding : 5px;
}
.settingmodal .modal-body .items .item.choose-image-array .array-1>div{
    border : 1px solid gray;
    width : 100%;
    height : 100px;
    background-color:lightgray;
}
.settingmodal .modal-body .items .item.choose-image-array .array-2-row{
    display:flex;
    justify-content: center;
    align-items: center;
   
    gap : 2px;
    padding : 5px;
}
.settingmodal .modal-body .items .item.choose-image-array .array-2-row>div{
    width:100%;
    height:100px;
    border : 1px solid gray;
    background-color:lightgray;
    
}
.settingmodal .modal-body .items .item.choose-image-array .array-2-col{
    display:flex;
    justify-content: center;
    align-items: center;
    border : 1px solid lightgray;
    gap : 2px;
    flex-direction: column;
    padding : 5px;
    

}
.settingmodal .modal-body .items .item.choose-image-array .array-2-col>div{
    width:100%;
    height:50px;
    border : 1px solid gray; 
    background-color:lightgray;
   
}
.settingmodal .modal-body .items .item.choose-image-array .array-4{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap : 2px;
    padding : 5px;
    border : 1px solid lightgray;


}
.settingmodal .modal-body .items .item.choose-image-array .array-4>div{
    width : 100%;
    height : 100%;
    background-color :lightgray;
    border : 1px solid gray;
}


.settingmodal .modal-body .items .item.choose-image-array div{
    position:relative;
}

.settingmodal .modal-body .items .item.choose-image-array input[type="radio"]{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width : 15px;

    margin : auto;    
    z-index:999;

    
}
.settingmodal .modal-body .items .item.download{

}
.settingmodal .modal-body .items .item.download>.item{

}
.settingmodal .modal-body .items .item.download>.item>button{
    width : 100%;
    font-size : .8rem;

}

.settingmodal .modal-footer button{
    font-size : .8rem;
    background-color: #1E2B37;
}