/* PHOTO BLOCK WEATHER 날씨 */
.postcard-container>.calendar-header .weather-block {
  display: flex;
  justify-content: space-between;
  /* border : 1px solid; */
  /* position: absolute;
  left: 15px;
  top : 5px; */

  background-color: transparent;
  padding :5px;;
  border : 1px solid;
}

.postcard-container>.calendar-header .weather-block .items {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 5px;
  
}

.postcard-container>.calendar-header .weather-block .items .item {
  display: flex;
  justify-content: center;
  align-items:end;
  width: 80px;
  padding : 5px;
  font-weight: 500;
  background-color: white;
  box-shadow: 5px 5px 5px lightgray;;
  height : 11vh;
  
}

.postcard-container>.calendar-header .weather-block .items .item .icon {
  width: 100%;
}


.postcard-container>.calendar-header .weather-block .items .item .icon>span {
  font-size: clamp(2rem ,3.333vw,4rem);
 
}


.postcard-container>.calendar-header .weather-block .items .item .obsrValue {
  font-size: 1rem;
}