/* PHOTO BLOCK TIMER */
.postcard-container>.calendar-header .timer-block{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border : 1px solid; */
    position:absolute;
    left:5px;
    bottom : 0;
    margin : auto;
    background-color: transparent;
    /* border : 1px solid; */
    width : 50%;
    text-align: left;
    height:100%;
    
  }
  
  .postcard-container>.calendar-header .timer-block .timer{
    font-size : 5rem;
    font-weight: 600;;
    /* border : 1px solid; */
    position:relative;
    width:100%;
    height:100%;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .postcard-container>.calendar-header .timer-block .timer .pmam{
      font-size : 3rem;
      position:relative;

    }

    .postcard-container>.calendar-header .timer-block .timer .hourminutesecond{
        position:relative;
        left:0;
        bottom : 0;
    }

    .postcard-container>.calendar-header .timer-block .timer  .seconds{
      font-size : 3rem;
    }
  